@import "../../../styles";

.input-field {
  display: flex;
  flex-direction: column;

  input {
    text-align: center;
    font-size: 1.5rem;
    padding: 5px 0;
    border: 1px solid #ccc;
    border-radius: 1px;
    width: 100%;
  }

  .invalid {
    border-color: $error-color;
  }

  span {
    text-align: center;
    color: $error-color;
    margin: 5px 0;
  }
}

